@model ListPostModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Styles
{
	<partial name="_BannerHidePartial" />
}*@

@*<h1 class="text-center">Welcome 👋 @Model.UserInfo.DisplayName</h1>*@
<div>
	<h1 class="offset-lg-1 col-lg-10 text-center">Asked Questions</h1>
</div>

<div class="offset-lg-1 col-lg-10">
	<div class="d-block justify-content-end">
		<a class="default-btn float-end" asp-area="MyProfile" asp-controller="Post" asp-action="Create">Ask Question</a>
	</div>
</div>
<div class="offset-lg-1 col-lg-10">
	<div class="middull-content">

		<ul class="nav nav-tabs questions-tabs d-flex justify-content-between" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="recent-questions-tab" data-bs-toggle="tab" data-bs-target="#recent-questions" 
				type="button" role="tab" aria-controls="recent-questions" aria-selected="true">
					Recent Questions
				</button>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
				@foreach(var post in Model.Posts)
				{
					<div class="single-qa-box like-dislike">
						<div class="d-flex">
							<div class="link-unlike flex-shrink-0">
								<a href="user.html">
									<img src="~/pify/assets/images/user/user-1.jpg" alt="Image">
								</a>

								<div class="donet-like-list">
									<button class="like-unlink-count like">
										<i class="ri-thumb-up-fill"></i>
										<span>50</span>
									</button>
								</div>

								<div class="donet-like-list">
									<button class="like-unlink-count dislike">
										<i class="ri-thumb-down-fill"></i>
										<span>25</span>
									</button>
								</div>
							</div>

							<div class="flex-grow-1 ms-3">
								<ul class="graphic-design">
									<li>
										<a href="">@post.ApplicationUser.DisplayName</a>
									</li>
									<li>
										<span>Asked on: @post.CreatedAt</span>
									</li>
								</ul>

								<h3>
									<a href="">
										@post.Title
									</a>
								</h3>
								@Html.Raw(post.Description)								

								<ul class="tag-list">
									<li>
										<a>Discussion</a>
									</li>
									<li>
										<a>Photoshop</a>
									</li>
									<li>
										<a>Analytics</a>
									</li>
								</ul>

								<div class="d-flex justify-content-between align-items-center">
									<ul class="anser-list">
										<li>
											<a href="">
												@if (@post.Votes != null) 
												{
													<p>@post.Votes.Count Vote</p>
												}
												else
												{
													<p>0 Vote</p>
												}
											</a>
										</li>
										<li>
											<a href="most-answered.html">
												2 Answer
											</a>
										</li>
									</ul>

									<div class="d-block float-end">
										<a class="default-btn" asp-area="MyProfile" asp-controller="Post" asp-action="Update"
											asp-route-id="@post.Id">
											Edit
										</a>
										<a class="default-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" 
										data-id='@post.Id' value='@post.Id'>
											Delete
										</a>
										<partial name="_DeleteModalPartial" />
									</div>
								</div>
							</div>
						</div>
					</div>
				}
				
				<div class="pagination-area text-center">
					<a href="" class="next page-numbers">
						<i class="ri-arrow-left-line"></i>
					</a>
					<span class="page-numbers current" aria-current="page">1</span>
					<a href="" class="page-numbers">2</a>
					<a href="" class="page-numbers">3</a>
										
					<a href="" class="next page-numbers">
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

	<script>
		//$('#exampleModal').on('click', '.show-bs-modal', function (event) {
		//	var postId = $(this).data("id");
		//	var modal = $("#modal-default");
		//	modal.find('.modal-body p').text('Are you sure you want to delete this record?');
		//	$("#deleteId").val(postId);
		//	$("#deleteForm").attr("action", "/MyProfile/Post/Delete");
		//	modal.modal('show');
		//});
		//$("#deleteButton").click(function () {
		//	$("#deleteForm").submit();
		//});

		$(document).on("click", ".show-bs-modal'", function () {
			var myBookId = $(this).data('id');
			$(".modal-body #deleteId").val(myBookId);
			// As pointed out in comments,
			// it is unnecessary to have to manually call the modal.
			// $('#addBookDialog').modal('show');
		});

	</script>
}
